SKIPCHECK;
# RULE 001
# get data from adjustments cube to calculate cash flow
['PL and BS data',{'9000701','9000702'}] = N:
# cash flow derivation weighting multiplied by . . .
[relatedentity:'cash flow',programme:'cash flow',id:'cash flow','derivation weightings', period:'cash flow'] *
# TEST A - if annual data and status is not unauthorised, and ID doesn't belong to a non-cash programme
IF(ATTRS('period', !period, 'type') @= 'annual' & !ID @<> '00000' &
DB('programme details', !headline year, !scenario, !programme, 'non-cash') @<> 'Y',
# TRUEPART - A - get data from the adjustments cube
DB('AE adjustments', !headline year, !scenario, 'data','Total outcomes', !related entity, 'Total functions', 'Total reason', 'Total SPP', 'Total Measures', 'Total approp types',
!movement account, 'Total approp item', !programme, !account_other, !id, 'Total jurisdictions', !period),
# FALSPART A - get balance and movement data from monthly report and monthly budgeting cubes
0);

# RULE 002
# get data from adjustments cube to calculate cash flow
['PL and BS data'] = N:
# cash flow derivation weighting multiplied by . . .
IF(DB('AE id details', !headline year, !scenario, !id, 'disagree cashflow') @= 'Y',
STET,
[relatedentity:'cash flow',programme:'cash flow' ,id:'cash flow','derivation weightings', period:'cash flow'] *
# TEST A - if annual data and status is not unauthorised, and ID doesn't belong to a non-cash programme
IF(ATTRS('period', !period, 'type') @= 'annual' & !ID @<> '00000'  &
DB('programme details', !headline year, !scenario, !programme, 'non-cash') @<> 'Y',
# TRUEPART - A - get data from the adjustments cube
# Administered
DB('AE adjustments', !headline year, !scenario, 'data','Total outcomes',!related entity, 'Total functions', 'Total reason', 'Total SPP', 'Total Measures', 'Total approp types',
!movement account, 'Total approp item', !programme, !account_other, !id, 'Total jurisdictions', !period),
# FALSPART A - get balance and movement data from monthly report and monthly budgeting cubes
0));

# RULE 004
# get data from adjustments cube to calculate cash flow
['system derived'] = N:
# cash flow derivation weighting multiplied by . . .
[relatedentity:'cash flow',programme:'cash flow' ,id:'cash flow','derivation weightings', period:'cash flow'] *
# TEST A - if annual data and status is not unauthorised, and ID doesn't belong to a non-cash programme
IF(ATTRS('period', !period, 'type') @= 'annual' & !ID @<> '00000' &
DB('programme details', !headline year, !scenario, !programme, 'non-cash') @<> 'Y',
# TRUEPART - A - get data from the adjustments cube
# Administered
DB('AE adjustments', !headline year, !scenario, 'data','Total outcomes',!related entity, 'Total functions', 'Total reason', 'Total SPP', 'Total Measures', 'Total approp types',
!movement account, 'Total approp item', !programme, !account_other, !id, 'Total jurisdictions', !period),
0);





Feeders;
# INTERNAL FEEDERS
# Feeder rule 0010
# fed from adjustments cube

# EXTERNAL FEEDERS
# Feeder - cash flow - monthly cube - Rule 0010
#['current',id:'cash flow',programme:'cash flow',relatedentity:'Cash flow','derivation weightings',period:'cash flow']=>
#DB('MA cash flow',!headline year,'current',!movement account,'cash flow',!account_cf,'cash flow',!account_other,'Cash flow','derivation weightings','cash flow');
#DB('MA cash flow',!headline year,'actual',!movement account,'cash flow',!account_cf,'cash flow',!account_other,'Cash flow','derivation weightings','cash flow');

#['current',id:'cash flow',programme:'cash flow',relatedentity:'Cash flow','derivation weightings',period:'cash flow']=>
#DB('AE cash flow',!headline year,'current',!movement account,'Total Ids',!account_cf,'Total Programmes',!account_other,'Total related entity','PL and BS data','Total years');























































































































































































































































































































































































































































