SKIPCHECK;
# DB('CapEx Assets', !Year, !Asset Categories, !Asset Measures, !Cost Centre, !Asset Numbers)
# DB('CapEx', !Year, !Scenario, !Asset Categories, !Asset Measures, !Cost Centre, !Month)

# RULE 1
# Calculate depreciation value using Purchase Price and Depreciation Rate (divided by 100 to get percentage)
['Depreciation'] = N: ROUNDP(
IF(['Purchase Price'] = ['Accumulated Depreciation'],0,
IF((['Purchase Price'] - ['Accumulated Depreciation']) < (['Purchase Price'] * (ATTRN('Asset Numbers', !Asset Numbers, 'Dep Rate') / 100)),
['Purchase Price'] - ['Accumulated Depreciation'], ['Purchase Price'] * (ATTRN('Asset Numbers', !Asset Numbers, 'Dep Rate') / 100))),0);



FEEDERS;
# INTERNAL FEEDERS

# RULE 1
# Feed Purchase Price into Depreciation
['Purchase Price'] => ['Depreciation'];

# EXTERNAL FEEDERS
# CAPITAL EXPENDITURE CUBE
# Feed depreciation into Capital Expenditure Cube
['Depreciation'] =>
DB('fin_CapEx', !Year, 'Budget', !Asset Categories, !Asset Measures, !Cost Centre, 'Jul','value'),
DB('fin_CapEx', !Year, 'Budget', !Asset Categories, !Asset Measures, !Cost Centre, 'Year','value');

# Feed Purchase Price into Capital Expenditure Cube
['Purchase Price'] =>
DB('fin_CapEx', !Year, 'Budget', !Asset Categories, 'Opening Book Value', !Cost Centre, 'Jul','value'),
DB('fin_CapEx', !Year, 'Budget', !Asset Categories, 'Depreciation', !Cost Centre, 'Year','value'),
DB('fin_CapEx', !Year, 'Budget', !Asset Categories, 'Accumulated Depreciation', !Cost Centre, 'Jul','value');

# Feed Accumulated Depreciation into Capital Expenditure Cube
['Accumulated Depreciation'] =>
DB('fin_CapEx', !Year, 'Budget', !Asset Categories, 'Accumulated Depreciation', !Cost Centre, 'Jul','value');






























































































































































































































































































































































































































































































































































































































































































































































































































